<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sand_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{0,0},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{236,0},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{472,0},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{708,0},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{944,0},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1180,0},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1416,0},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{0,243},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{236,243},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{472,243},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{708,243},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{944,243},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1180,243},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1416,243},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{0,486},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{236,486},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{472,486},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{708,486},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{944,486},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1180,486},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1416,486},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{0,729},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{236,729},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{472,729},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{708,729},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{944,729},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1180,729},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1416,729},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{0,972},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{236,972},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{472,972},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{708,972},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{944,972},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1180,972},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1416,972},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{0,1215},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{236,1215},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{472,1215},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{708,1215},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{944,1215},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1180,1215},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1416,1215},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{0,1458},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{236,1458},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{472,1458},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{708,1458},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{944,1458},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1180,1458},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sand_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,243}</string>
                <key>spriteSourceSize</key>
                <string>{236,243}</string>
                <key>textureRect</key>
                <string>{{1416,1458},{236,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sand.png</string>
            <key>size</key>
            <string>{1652,1701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ba8c12c66ba8e6e163e94051c0bb36a:30ecfc579605f75e0269ba21e226769e:ceb69782872438b111cc6122511b511c$</string>
            <key>textureFileName</key>
            <string>sand.png</string>
        </dict>
    </dict>
</plist>
