<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hole-trap-1-off_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{512,0},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{768,0},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1024,0},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1280,0},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1536,0},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{0,257},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{256,257},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{512,257},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{768,257},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1024,257},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1280,257},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1536,257},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{0,514},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{256,514},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{512,514},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{768,514},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1024,514},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1280,514},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1536,514},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{0,771},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{256,771},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{512,771},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{768,771},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1024,771},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1280,771},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1536,771},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{0,1028},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{256,1028},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{512,1028},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{768,1028},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1024,1028},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1280,1028},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1536,1028},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{0,1285},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{256,1285},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{512,1285},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{768,1285},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1024,1285},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1280,1285},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1536,1285},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{0,1542},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{256,1542},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{512,1542},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{768,1542},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1024,1542},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1280,1542},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole-trap-1-off_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,257}</string>
                <key>spriteSourceSize</key>
                <string>{256,257}</string>
                <key>textureRect</key>
                <string>{{1536,1542},{256,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>holeTrapOff1.png</string>
            <key>size</key>
            <string>{1792,1799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25157873a8fc5bbb2228e21de1ae585:9da634ec7a2cf57212d316876ef12290:c96e52a8ed3e7b9155808c16b644dcc1$</string>
            <key>textureFileName</key>
            <string>holeTrapOff1.png</string>
        </dict>
    </dict>
</plist>
